.table-responsive {
  border-radius: 0.25rem;
}

.thead {
  background-color: rgba(0, 0, 0, 0.03);
}

.card-header .fa {
  transition: 0.3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
